body {
  background-color: #FFF;
  background-image: url('../img/background-lime.gif');
  /* slight greenish tilt to black to go with background */
  color: #020; 
}

h1 {
  color: #040; 
}	

textarea {
  /* Use full black for data */
  color: black;
}

table {
  border-style: none;
  padding: 2px;
  margin: 2px;
  outline-width: 2px;
}

tr {
  padding: 2px;
  margin: 2px;
}

td {
  padding: 2px;
  margin: 2px;
  border-width: 1px;
  border-color: #080;
  border-style: solid; /* dotted? */
}

/* General row-level markers:
 *  - hidden -> completely hidden
 *  - shown -> shown except for prompt
 *  - active -> all shown including prompt
 */

tr.hidden {
  visibility: hidden;
}
tr.hidden.collapsed {
  visibility: collapse;
}

tr.shown {
  visibility: visible;
}
tr.shown span.prompt {
  visibility: hidden;
}

tr.active {
  visibility: visible;
}

tr.active>td.label {
  font-weight: bold;
}

/* Simple navigation menu for main-level tabs
 */

#navcontainer ul
{
  margin: 0;
  padding: 0;
  border: 1px;
  list-style-type: none;
  text-align: left;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
  text-decoration: none;
  padding: .2em 1em;
  color: #F0FFE0;
  background-color: #063;
}

#navcontainer ul li a:hover
{
  color: #F0FFE0;
  background-color: #396;
}

.chosenTab
{
  padding: .2em 1em;
  color: #fff;
  background-color: #396;
  font-weight: bold;
}	

/* Need to make link colors fit with background, greenish shade
 */

a:link { /* unvisited link */
	color:#082;
}
a:visited {  /* visited link: same as unvisited */
	color:#082;
}
a:hover {  /* mouse over link */
	color:#4E6;
}
a:active {  /* selected link */
	color:#6F8;
}

a.id:link {
	color:#222;
}
a.id:visited {
	color:#222;
}
a.id:hover {  /* mouse over link */
	color:#444;
}
a.id:active {  /* selected link */
	color:#666;
}

.infoTable {
  border-style: solid;
  border-width: 2px;
  border-color: #060;
  border-collapse: collapse;
  outline-width: 2px;
  padding: 2px;
  margin: 2px;
  font-size: 16px;
}

.outputTable {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
  padding: 4px;
  margin: 4px;
  font-size: 14px;
}

tr.dataRow > td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 1px;
  margin: 0px;
}
	
.nowrap {
  white-space: nowrap;
}

.edgeTop {
   border-width: 2px;
   border-style: dotted none none none;
}
.edgeTopLeft {
   border-width: 2px;
   border-style: dotted none none dotted;
}
.edgeTopRight {
   border-width: 2px;
   border-style: dotted dotted none none;
}

.edgeLeft {
   border-width: 2px;
   border-style: none none none dotted;
}
.edgeRight {
   border-width: 2px;
   border-style: none dotted none none;
}

.edgeBottom {
   border-width: 2px;
   border-style: none none dotted none;
}
.edgeBottomLeft {
   border-width: 2px;
   border-style: none none dotted dotted;
}
.edgeBottomRight {
   border-width: 2px;
   border-style: none dotted dotted none;
}
