body {
  background-color: #DFC;
  background-image: url('../img/background-lime.gif');
  /* slight greenish tilt to black to go with background */
  color: #020; 
}

h1 {
  color: #040; 
}	

textarea {
  /* Use full black for data */
  color: black;
}

textarea.outputText {
  /* To fit more stuff, smaller font */
  font-size: 14px;
}

table {
  border-style: none;
  padding: 4px;
  margin: 2px;
  outline-width: 2px;
}

tr {
  padding: 2px;
  margin: 2px;
  border-width: 1px;
  border-color: #080;
  border-style: dotted;
  vertical-align: top;
}

td {
  padding: 2px;
  margin: 2px;
  border-width: 0px;
  border-color: #080;
}

td.label {
  width: 150px;
}

/* Overriding jquery-ui tab styling */

#jacktabs .ui-tabs {
  background: transparent;
}

#jacktabs .ui-tabs-nav {
  padding-left: 0px;
  background-color: #EFD;
  border-width: 0px 0px 1px 0px;
} 

#jacktabs .ui-tabs-panel { 
  background-color: #EFD;
  border-width: 0px 1px 1px 1px; 
}

/* Trying to restyle jquery-ui error dialog */

/* Some interactivity via https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.button {
  margin: 2px 2px 4px 2px;
  padding: 3px;
  background-color: #AE8;
  border: 2px solid #040;
  border-radius: 8px;
  box-shadow: 1px 4px #8A8;
  cursor: pointer;
}

.button:hover {
  background-color: #9D7;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #565;
  transform: translateY(2px);
}
/* General row-level markers:
 *  - hidden -> completely hidden
 *  - shown -> shown except for prompt
 *  - active -> all shown including prompt
 */

tr.hidden {
  visibility: hidden;
}
tr.hidden.collapsed {
  visibility: collapse;
}

tr.shown {
  visibility: visible;
}
tr.shown span.prompt {
  visibility: hidden;
}

tr.active {
  visibility: visible;
}

tr.active>td.label {
  font-weight: bold;
}

button.hidden {
  visibility: hidden;
}

/* Need to make link colors fit with background, greenish shade
 */

a:link { /* unvisited link */
	color:#082;
}
a:visited {  /* visited link: same as unvisited */
	color:#082;
}
a:hover {  /* mouse over link */
	color:#4E6;
}
a:active {  /* selected link */
	color:#6F8;
}

a.id:link {
	color:#222;
}
a.id:visited {
	color:#222;
}
a.id:hover {  /* mouse over link */
	color:#444;
}
a.id:active {  /* selected link */
	color:#666;
}

.inputTable {
  width: 800px;
  border-style: solid;
  border-width: 2px;
  border-color: #060;
  border-collapse: collapse;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
}

.outputTable {
  width: 800px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-collapse: collapse;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
}

tr.dataRow > td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 1px;
  margin: 0px;
}
